.header
{
margin:0;
min-height:70px;
color:white;
top:0;
width:100%;
background-color:#004080;
}
.header-itemleft
{
padding-left:25px;
float:left;
}
.header-itemright
{
padding-right:90px;
float:right;
color:white;
text-align:center;
}
.body-main
{
width:80%;
margin-top:5px;
margin-left:30px;
text-align:center;
height:800px;
padding-left:30px;
}
.body-main h2
{
color:green;
}
.body-main th
{
font-weight:bold;
}
.body-main th,td
{
padding-bottom:25px;

}
.footer
{
margin:0;
min-height:50px;
color:white;
background-color:gray;
width:100%;
text-align:left;

}

.td_price
{
text-align:right;
}
.td_name
{
text-align:left;
}
.body_h1
{
text-align:left;
}
.img_h
{
margin:10px;
float:left;
padding-bottom:15px;
}
.block_item
{
color:green;
display:block;
text-align:center;
}
.menu_item
{
color:green;
display:block;
text-align:left;
}
.alert
{
padding:10px;
color:green;
display:block;
padding-bottom:15px;
}
.td_delivery
{
text-align:center;
}
.empty_list
{
color:grey;
text-align:left;
}